.welcome-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 10%;
  flex-wrap: wrap;
}

.welcome-image img {
  max-width: 30px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: auto;
}

.welcome-text {
  max-width: 500px;
  margin-left: 40px;
}

.welcome-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.more-content {
  padding: 40px 10%;
  background-color: #f9f9f9;
}

.more-content h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.more-content p {
  font-size: 1rem;
  line-height: 1.6;
}
